version: "3"
# Define services
services:
  # App Service
  loadbalancer:
    image: golang:latest
    volumes:
    - ../../../:/go/src/alexandria
    working_dir: /go/src/alexandria
    command: go test ./loadbalancing/loadbalancing_test.go
    env_file: lb_config_test.env
    ports:
    - "8000:8000"
    - "8080:8080"
    - "10000:10000/udp"
    - "20000:20000/udp"
    - "53:53/tcp"
    - "53:53/udp"
    networks:
      front:
        ipv4_address: 10.6.0.5
  leader:
    image: golang:latest
    volumes:
    - ../../../:/go/src/alexandria
    working_dir: /go/src/alexandria
    command: go run ./cmd/main.go
    env_file: leader_config_test.env
    depends_on:
    - loadbalancer
    ports:
    - "8001:8000"
    - "8081:8080"
    - "10001:10000/udp"
    - "20001:20000/udp"
    - "54:53/tcp"
    - "54:53/udp"
    networks:
      front:
        ipv4_address: 10.6.0.2
  follower1:
    image: golang:latest
    volumes:
    - ../../../:/go/src/alexandria
    working_dir: /go/src/alexandria
    command: go run ./cmd/main.go
    env_file: follower1_config_test.env
    depends_on: 
    - leader
    ports:
    - "8002:8000"
    - "8082:8080"
    - "10002:10000/udp"
    - "20002:20000/udp"
    - "55:53/tcp"
    - "55:53/udp"    
    networks:
      front:
        ipv4_address: 10.6.0.3
  tester:
    image: golang:latest
    volumes:
    - ../../../:/go/src/alexandria
    working_dir: /go/src/alexandria
    command: go test ./...
    env_file: tester_config_test.env
    depends_on: 
    - leader
    - follower1
    ports:
    - "8003:8000"
    - "8083:8080"
    - "10003:10000/udp"
    - "20003:20000/udp"
    - "56:53/tcp"
    - "56:53/udp"
    networks:
      front:
        ipv4_address: 10.6.0.4
networks:
  front:
    ipam:
      driver: default
      config:
        - subnet: 10.6.0.0/16

